<template>
    <div>
    <form class="form-signin">
        <img class="mb-3" src="../assets/images/eg_lite_icon.png" alt="" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal text-light">Please Register Your Account</h1>
        <label class="sr-only">First Name</label>
        <input v-model="model.FirstName" type="text" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
        <label class="sr-only">Last Name</label>
        <input v-model="model.LastName" type="text" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
        <label class="sr-only">Mobile</label>
        <input v-model="model.MobileNumber" type="text" id="inputMbile" class="form-control" placeholder="07X XXX XXXX" required>
        <br>
        <div class="checkbox mb-3 text-light">
            <label>
                <input type="checkbox" value="remember-me"> By clicking Register, You agree to our terms and conditions.
            </label>
        </div>

        <button @click.prevent="createNewAccount" class="btn btn-lg btn-success btn-block" type="submit">Register</button>

        <a class="text-light" href="SignIn.html"> Already a member? Sign In </a>
        <p class="mt-5 mb-3 text-light">Exam Genius &copy; 2020</p>
    </form>
    </div>
</template>

<script>
    export default {
        name: "Register",
        mounted() {
        },

        data(){
            return {
                model: {
                    FirstName : '',
                    LastName : '',
                    Email : "jayasooriyaisuru@gmail.com",
                    LanguageCode : "SH",
                    BirthDate : "1997-05-25",
                    Gender : "MALE",
                    MobileNumber : '',
                    SyllabusCode : "NEW",
                    ExamTrackID : 1,
                    GraduationID : 1,
                    Grade : "5",
                    DistrictCode : "COL",
                    CityCode : "BAM",
                    CountryCode : "SL",
                    SchoolCode : "ROYAL_COL",
                    MAC : "F0:03:8C:37:E8:AC",
                    JoinDate : "2018-07-14"
                }
            }
        },

        methods : {
            createNewAccount() {
                let self = this;
                let url = 'StudentService/rest/student/register'

                    self.axios.post(url, self.model).then(response => {
                        if (response){alert('wwwww')
                            console.log(response);
                            console.log(response.data);
                            console.log("sasda")
                        }else {
                            alert('dfsdfs')
                        }
                    })
                        .catch ((e) =>{
                    alert(e)
                    console.log(e.Error)
                });

            }
        }
    }
</script>

<style scoped>
    @import '../assets/styles/bootstrap.min.css';
    @import '../assets/styles/signin.css';
</style>