.proImage{
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tttt{
	padding-top:50px;
}

.pDetails{
	padding-top:20px;
	padding-bottom: 20px;
}
h4{
	padding-bottom: 10px;
}

.form-group{
	padding-bottom: 15px;
}